{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ include('partials/_page_header.html.twig', { header: 'Dashboard', description: 'General overview' }) }}
            <!-- First row with Jobs statistics, stored bytes and stored files widgets -->
            <div class="row">
                <!-- Last period job status -->
                <div class="col-6">
                    {{ render(
                        controller('App\\Controller\\Widget\\LastPeriodJobStatusController::index', {period: period})
                    )
                    }}
                </div>

            <div class="col-6">
                <div class="row">

                    <div class="col-12">
                        {{ render(
                            controller('App\\Controller\\Widget\\LastWeekStoredBytesController::index')
                        ) }}
                    </div>

                    <div class="col-12">
                        {{ render(
                            controller('App\\Controller\\Widget\\LastWeekStoredFilesController::index')
                        ) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ render(
                        controller('App\\Controller\\Widget\\PoolsVolumesStatusController::index')
                ) }}
            </div>

            <div class="col-xs-12 col-md-6">
                {{ render(
                        controller('App\\Controller\\Widget\\LastUsedVolumesController::index')
                ) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ render(
                        controller('App\\Controller\\Widget\\ClientJobsTotalController::index')
                ) }}
            </div>

            <!-- Weekly jobs statistics -->
            <div class="col col-xs-12 col-md-6">
                {{ render(
                        controller('App\\Controller\\Widget\\WeeklyJobStatsController::index')
                ) }}
            </div>

            <div class="row">
                <div class="col col-xs-12 col-md-6">
                    {{ render(
                            controller('App\\Controller\\Widget\\BiggestBackupJobsController::index')
                    ) }}
                </div>
            </div>
    </div>

{% endblock %}