{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Job files'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid" id="jobsreport">

        {{ include('partials/_page_header.html.twig', { header: 'Job files', description: 'Bacula History Files' }) }}

        <div class="row">
            <div class="col-md-7">

                <!-- Backup job report -->
                <div class="card">
                    <div class="card-header">{{ 'Job Info'|trans }}</div>
                    <div class="card-body">
                        <div>
                            <p><b>{{ 'Job Name'|trans }}</b>: {{ job.name }}</p>
                            <p><b>{{ 'Job Status'|trans }}</b>: {{ job.status.statuslong }}</p>
                            <form {# action="{{ url_for('backupjob') }}" #} method="post">
                                <input type="hidden" name="backupjob_name" value="{{ job.name }}"/>
                                <input type="hidden" name="backupjob_period" value="7"/>
                                <button type="submit"
                                        class="btn btn-sm btn-primary">{{ 'View backup job'|trans }}</button>

                                <input type="hidden" name="csrf" value="{{ csrf_token('jobfiles') }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search box -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header"><b>Search</b></div>
                    <div class="card-body">
                        <form {# action="{{ url_for('jobfiles') }}/{{ jobid }}" #} method="GET">
                            <div class="mb-3">
                                <label for="InputFilename" class="form-label">Filename</label>
                                <input type="text" class="form-control" name="filter_filename" id="InputFilename"
                                       placeholder="search any file or folder name" value="{{ filename }}">
                            </div>
                            <input type="hidden" name="jobId" value="{{ job.id }}">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="reset" class="btn btn-default" title="{{ 'Reset'|trans }}"></button>

                            <input type="hidden" name="csrf" value="{{ csrf_token('jobfiles') }}" />
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped table-bordered text-center">
                    <caption>Job file(s) list</caption>
                    <thead>
                        <tr>
                            <th class="text-center">{{ 'File Index'|trans }}</th>
                            <th class="text-center">{{ 'Filename'|trans }}</th>
                        </tr>
                    </thead>
                    {% for file in pagination %}
                        <tr>
                            <td>{{ file.fileindex }}</td>
                            <td class="text-left">{{ file.path.path }}{{ file.filename }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">{{ 'No file(s) to display'|trans }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {{ include('partials/pagination.html.twig') }}

        </div>
    </div>
{% endblock %}