{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Jobs report'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid" id="jobsreport">

        {{ include('partials/_page_header.html.twig', { header: 'Jobs report', description: 'Bacula jobs overview' }) }}

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-push-9 col-lg-2 col-lg-push-10">

                {{ form_start(form) }}
                {{ form_row(form.status) }}
                {{ form_row(form.level) }}
                {{ form_row(form.type) }}
                {{ form_row(form.client) }}
                {{ form_row(form.pool) }}

                <label for="starttime" class="form-label">{{ form_label(form.starttime) }}</label>
                <div class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                    {{ form_widget(form.starttime) }}
                    <span class="input-group-text" data-td-target="#starttime" data-td-toggle="datetimepicker">
                        <span class="fa-solid fa-calendar"></span>
                    </span>
                </div>

                <label for="endtime" class="form-label">{{ form_label(form.endtime) }}</label>
                <div class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                    {{ form_widget(form.endtime) }}
                    <span class="input-group-text" data-td-target="#endtime" data-td-toggle="datetimepicker">
                        <span class="fa-solid fa-calendar"></span>
                    </span>
                </div>

                {{ form_row(form.orderby) }}
                {{ form_row(form.orderByDirection) }}

                <div class="d-flex gap-1">
                    <button class="btn btn-primary btn-sm" type="submit">{{'Apply'|trans}}</button>
                    <input class="btn btn-outline-dark" type="reset" title="{{ 'Reset'|trans }}" value="{{ 'Reset'|trans }}">
                </div>

                <a class="btn btn-link btn-sm mt-2" title="{{ 'Reset to default'|trans }}" href="{{ path('jobs') }}" role='button'>{{ 'Reset to default'|trans }}</a>

                {{ form_end(form) }}
            </div>

            <div class="col-xs-12 col-sm-9 col-sm-pull-3 col-lg-10 col-lg-pull-2">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped text-center">
                        <caption>Job(s) list</caption>
                        <thead>
                        <tr>
                            <th class="text-center">{{ 'Status'|trans }}</th>
                            <th class="text-center">{{ 'Job ID'|trans }}</th>
                            <th class="text-left">{{ 'Name'|trans }}</th>
                            <th class="text-center">{{ 'Type'|trans }}</th>
                            <th class="text-center">{{ 'Scheduled Time'|trans }}</th>
                            <th class="text-center">{{ 'Start time'|trans }}</th>
                            <th class="text-center">{{ 'End time'|trans }}</th>
                            <th class="text-center">{{ 'Elapsed time'|trans }}</th>
                            <th class="text-center">{{ 'Level'|trans }}</th>
                            <th class="text-center">{{ 'Bytes'|trans }}</th>
                            <th class="text-center">{{ 'Files'|trans }}</th>
                            <th class="text-center">{{ 'Speed'|trans }}</th>
                            <th class="text-center">{{ 'Compression'|trans }}</th>
                            <th class="text-center">{{ 'Pool'|trans }}</th>
                            <th class="text-center">{{ 'Log'|trans }}</th>
                        </tr>
                        </thead>

                        {% for job in pagination %}
                            <tr>
                                <td>
                                    <i title="{{ job.status.statuslong }}" class="{{ job.statusicon }}"></i>
                                </td>
                                <td>{{ job.id }}</td>
                                <td class="text-left">
                                    {% if job.type == 'Backup' %}
                                        <form action="{{ path('backupjob') }}" method="post">
                                            <input type="hidden" name="backupjob_name" value="{{ job.name }}"/>
                                            <input type="hidden" name="backupjob_period" value="7"/>
                                            <button type="submit"
                                                    class="btn btn-sm btn-link">{{ job.name }}</button>
                                            <input type="hidden" name="token" value="{{ csrf_token('jobs') }}">
                                        </form>
                                    {% else %}
                                        {{ job.name }}
                                    {% endif %}
                                </td>
                                <td>{{ job.type }}</td>
                                <td>{{ job.scheduledtime|date(app_datetime_format)|default('n/a') }}</td>
                                <td>{{ job.starttime|date(app_datetime_format)|default('n/a') }}</td>
                                <td>{{ job.endtime|date(app_datetime_format)|default('n/a') }}</td>
                                <td>
                                    {{ job.elapsedTime }}
                                </td>
                                <td>{{ job.level }}</td>
                                <td class="text-right">{{ readable_size(job.jobbytes) }}</td>
                                <td class="text-right">
                                    {% if job.jobfiles > 0 and job.type == 'Backup' %}
                                        <a href="{{ path('jobfiles', {jobId: job.id}) }}"
                                           title="{{ 'Show job files'|trans }}">
                                            {{ job.jobfiles|format_number }} <i class="fa-solid fa-folder"></i>
                                        </a>
                                    {% else %}
                                        {{ job.jobfiles|format_number }}
                                    {% endif %}
                                </td>
                                <td>{{ readable_size(job.speed) }}/s</td>
                                <td>{{ job.compression|number_format(2) }}</td>
                                <td>
                                    {{ job.pool.name|default('n/a') }}
                                </td>
                                <td>
                                    <a href="{{ path('joblog', { jobid: job.id } ) }}"
                                       title="{{ 'Show job logs'|trans }}"> <i
                                                class="fa-solid fa-magnifying-glass"></i> </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="15">{{ 'No job(s) to display'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {{ include("partials/pagination.html.twig", {route: 'volumes' }) }}
        </div>
    </div>
{% endblock %}
