{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-medium-emphasis">Please sign in</p>

                                {{ form_start(form) }}
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.password) }}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <button class="btn btn-primary px-4" type="submit">Login</button>
                                {{ form_end(form) }}

                                {% if error %}
                                    <p class="text-bg-danger p-2 mt-4">
                                        <i class="fa-solid fa-triangle-exclamation"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card col-md-5 text-white bg-light py-5">
                            <div class="card-body text-center">
                                <div>
                                    <img class="img-fluid" src="{{ asset('assets/images/bacula-web-logo.png')}} " alt="Bacula-Web logo"/>
                                    <div>
                                        <h2 class="text-black">{{ app_name }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
