{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Pools report'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {{ include('partials/_page_header.html.twig', { header: 'Pools report', description: 'Bacula pool(s) overview' }) }}

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped paginate">
                        <caption>Pool(s) list</caption>
                        <thead>
                        <tr>
                            <th class="text-center">{{ 'Pool name'|trans }}</th>
                            <th class="text-center">{{ 'Volume count'|trans }}</th>
                            <th class="text-center">{{ 'Total bytes'|trans }}</th>
                            <th class="text-center">{{ 'Volumes'|trans }}</th>
                        </tr>
                        </thead>
                        {% for pool in pools %}
                            <tr>
                                <td>{{ pool.name }}</td>
                                <td class="text-center">{{ pool.numvols }}</td>
                                <td class="text-right">{{ readable_size(pool.total_bytes) }}</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-primary" href="{{ path('volumes', { pool: pool.id }) }}">
                                        {{ 'Show Volumes'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}