{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Settings'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {{ include('partials/_page_header.html.twig', { header: 'Settings', description: 'General settings' }) }}

        <div class="row">
            <div class="col-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" aria-current="page" href="#general">General
                            settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#users" data-bs-toggle="tab">Users</a>
                    </li>
                </ul>
            </div>

            <div class="col-8">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="general"><h3>General settings</h3>

                        <br/>

                        <form>
                            <h4 class="mt-4">Date & time format</h4>

                            <div class="mb-3">
                                <label class="form-label" for="config_datetime_format">Date / Time
                                    format</label>
                                <input type="text" class="form-control" id="config_datetime_format"
                                       value="{{ config_datetime_format }}" disabled>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="config_datetime_format_short">Date / Time format
                                    (short)</label>
                                <input type="text" class="form-control" id="config_datetime_format_short"
                                       value="{{ config_datetime_format_short }}" disabled>
                            </div>

                            <h4 class="mt-4">Translations</h4>

                            <div class="mb-3">
                                <label class="form-label" for="config_language">Language</label>

                                <input type="text" class="form-control" id="config_language"
                                       value="{{ config_language }}" disabled>
                            </div>

                            <h4 class="mt-4">Options</h4>

                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="config_show_inactive_clients" {{ config_show_inactive_clients }}
                                            {% if config_show_inactive_clients != true %}
                                                disabled
                                                {% else %}
                                                checked
                                            {% endif %}
                                    >
                                    <label class="form-check-label" for="config_show_inactive_clients">Show inactive
                                        clients</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="config_hide_empty_pools" {{ config_hide_empty_pools }}
                                            {% if config_hide_empty_pools != true %}
                                                disabled
                                            {% else %}
                                                checked
                                            {% endif %}
                                    >
                                    <label class="form-check-label" for="config_hide_empty_pools">Hide empty
                                        pools</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Users tab -->
                    <div class="tab-pane container" id="users">
                        <h4>Users</h4>
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <caption>User(s) list</caption>
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.username() }}</td>
                                        <td>{{ user.email() }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <hr>

                        <h4>Add user</h4>

                        {{ form_start(new_user_form) }}
                            {{ form_rest(new_user_form) }}

                            <button class="btn btn-sm btn-primary pull-right" type="submit">Create user</button>
                        {{ form_end(new_user_form) }}
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
{% endblock %}