{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'User settings'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        {{ include('partials/_page_header.html.twig', {  header: 'User settings', description:'' }) }}

        <div class="row">
            <div class="col col-xs-6">

                <h4>User profile</h4>

                {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.update) }}
                {{ form_end(form) }}

            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4 mt-3">

                <h4>Password management</h4>

                <!-- TODO: Use Symfony Form for user password reset -->

                <form action="{{ path('app_user_resetpassword') }}" method="post" data-toggle="validator">
                    <div class="form-group">
                        <label for="currentpass">Current password</label>
                        <input name="oldpassword" type="password" id="oldpassword" class="form-control"
                               placeholder="Current password" aria-describedby="currentpass" required>
                        <span id="currentpass" class="form-text">Your current password (required)</span>

                        <br/>
                        <label for="newpass">New password</label>
                        <input name="newpassword" type="password" id="inputpassword" class="form-control"
                               placeholder="New password" data-minlength="6" required>
                        <div class="form-text">Password must be at least 8 characters</div>
                        <label for="inputUsername">Confirm</label>
                        <input name="confnewpassword" value="" type="password" data-minlength="6"
                               data-match="#inputpassword" data-match-error="Passwords don't match"
                               id="inputconfpassword" class="form-control" placeholder="Confirm new password" required>

                        <input type="hidden" name="action" value="passwordreset">

                        <br/>
                        <button class="btn btn-sm btn-primary pull-right" type="submit">Reset password</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}