{% extends "layouts/default.html.twig" %}

{% block title %}{{ 'Volumes report'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {{ include('partials/_page_header.html.twig', { header: 'Volumes report', description: 'Bacula volume(s) overview' }) }}

        <div class="row">
            <div class="col-10">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped text-center">
                        <caption>Volume(s) list</caption>
                        <thead>
                        <tr>
                            <th class="text-center">{{ 'Volume name'|trans }}</th>
                            <th class="text-center">{{ 'Bytes'|trans }}</th>
                            <th class="text-center">{{ 'Files'|trans }}</th>
                            <th class="text-center">{{ 'Jobs'|trans }}</th>
                            <th class="text-center">{{ 'Media Type'|trans }}</th>
                            <th class="text-center">{{ 'Pool'|trans }}</th>
                            <th class="text-center">{{ 'Expire'|trans }}</th>
                            <th class="text-center">{{ 'Last written'|trans }}</th>
                            <th class="text-center">{{ 'Status'|trans }}</th>
                            <th class="text-center">{{ 'Slot'|trans }}</th>
                            <th class="text-center">{{ 'In Changer'|trans }}</th>
                        </tr>
                        </thead>

                        {% for volume in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('volume_detail', {'id': volume.id }) }}"
                                       title="{{ 'Show volume'|trans }}">{{ volume.name }}</a>
                                </td>
                                <td class="text-right">
                                    {{ readable_size(volume.volbytes) }}
                                </td>
                                <td class="text-right">{{ readable_size(volume.volfiles, 0, '', false) }}</td>
                                <td class="text-right">{{ volume.voljobs }}</td>
                                <td>{{ volume.mediatype }}</td>
                                <td>{{ volume.pool.name }}</td>
                                <td>
                                    {% if volume.expire %}
                                        {{ volume.expirationDate }} ({{ volume.expire|date(app_datetime_format) }})
                                    {% else %}
                                        n/a
                                    {% endif %}
                                </td>
                                <td>
                                    {% if volume.lastwritten is empty or volume.lastwritten == '0000-00-00 00:00:00'%}
                                        n/a
                                    {% else %}
                                        {{ volume.lastwritten|date(app_datetime_format) }}
                                    {% endif %}
                                </td>
                                <td title="{{ volume.status }}">
                                    {{ volume.status }}
                                    <i class="fa {{ volume.statusicon }}"></i>
                                </td>
                                <td>
                                    {% if volume.inchanger %} {{ volume.slot }} {% else %} n/a {% endif %}
                                </td>
                                <td>
                                    {% if volume.inchanger %}<i class="fa fa-check" aria-hidden="true"></i>{% else %} - {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11" class="text-center">
                                    {{ 'No volume(s) to display'|trans }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                {{ include("partials/pagination.html.twig", {route: 'volumes' }) }}

            </div>

            <div class="col-2">

                <div>
                    <div class="container">
                        {{ form_start(form) }}
                        {{ form_row(form.pool) }}
                        {{ form_row(form.order_by) }}
                        {{ form_row(form.order_direction) }}
                        {{ form_row(form.in_changer) }}

                        <div class="mt-3 mb-3">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div> <!-- end div class="col... -->
        </div>
    </div>
    <hr/>

    <!-- Found volumes footer -->
    <div class="card border-dark m-3">
        <div class="card-header">{{ 'Result'|trans }}</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    {{ 'Volume(s) found'|trans }} <span class="badge text-bg-dark">{{ pagination.getTotalItemCount }}</span>
                </li>
                <li class="list-group-item">
                    {{ 'Total bytes'|trans }} <span class="badge text-bg-dark">{{ readable_size(volumes_total_bytes) }}</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
