<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap css -->
    <link href="{{ base_path() }}/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- FontAwesome css -->
    <link href="{{ base_path() }}/css/all.css" rel="stylesheet">

    <!-- nvd3 css -->
    <link href="{{ base_path() }}/css/nv.d3.css" rel="stylesheet" type="text/css">

    <!-- nvd3 javascript -->
    <script src="{{ base_path() }}/js/d3.min.js" charset="utf-8"></script>
    <script src="{{ base_path() }}/js/nv.d3.js"></script>

    <link rel="apple-touch-icon" href="{{ base_path() }}/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_path() }}/img/favicon.ico">

    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha256-BRqBN7dYgABqtY9Hd4ynE+1slnEw+roEPFzQ7TRRfcg=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/js/tempus-dominus.min.js" integrity="sha384-MxHp+/TqTjbku1jSTIe1e/4l6CZTLhACLDbWyxYaFRgD3AM4oh99AY8bxsGhIoRc" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/css/tempus-dominus.min.css" crossorigin="anonymous">

    <title>{{ app_name }}</title>

    <style>
        [id^="chart"] {
            height: 300px;
            width: 100%;
        }
    </style>

</head>
<body>
