<div class="card border-dark mb-3">
    <div class="card-header"><b>{{ 'Last period job status'|trans }}</b> {{ literal_period }}</div>
    <!-- Period selector -->
    <div class="card-body">
        <form class="form-inline pull-right" method="post" role="form" action="{{ path('app_home') }}">
            <div class="input-group input-group-sm">
                <span class="input-group-text">{{ 'Period'|trans }}</span>
                <select class="form-control input-sm" name="period">
                    {% for date_range in period_list %}
                        <option value="{{ date_range.id }}" {% if date_range.id == period %}selected{% endif %}>
                            {{ date_range.label }}</option>
                    {% endfor %}
                </select>

                <button title="{{ 'Update with selected period'|trans }}" class="btn btn-primary btn-sm"
                        type="submit">{{ 'Submit'|trans }}</button>

                <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
            </div>
        </form>
    </div>

    <!-- Last period job status graph -->
    <div class="card-body">
        <div id="{{ last_jobs_chart_id }}">
            <svg></svg>
        </div>
        {{ last_jobs_chart|raw }}

        <table class="table table-condensed">
            <caption>Jobs status overview</caption>
            <thead>
            <tr>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tr>
                <td><h5>{{ 'Running jobs'|trans }}</h5></td>
                <td class="text-center">
                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="1"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ running_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Completed job(s)'|trans }}</h5></td>
                <td class="text-center">
                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="3"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ completed_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Completed with errors job(s)'|trans }}</h5></td>
                <td class="text-center">
                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="4"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ completed_with_errors_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Waiting jobs(s)'|trans }}</h5></td>
                <td class="text-center">
                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="2"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ waiting_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Failed job(s)'|trans }}</h5></td>
                <td class="text-center">
                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="5"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ failed_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Canceled job(s)'|trans }}</h5></td>
                <td class="text-center">

                    <a href="{{ path('jobs', {filter_jobstatus: '6'}) }}">Canceled jobs</a>

                    <form action="{{ path('jobs') }}" method="post">
                        <input type="hidden" name="filter_jobstatus" value="6"/>
                        <button class="btn btn-lg btn-link" type="submit">{{ canceled_jobs }}</button>
                        <input type="hidden" name="csrf" value="{{ csrf_token('dashboard') }}">
                    </form>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Job Level (Incr / Diff / Full)'|trans }}</h5></td>
                <td class="text-center"><h4>{{ incr_jobs }} / {{ diff_jobs }} / {{ full_jobs }} </h4>
                </td>
            </tr>
            <tr>
                <td><h5>{{ 'Transferred Bytes / Files'|trans }}</h5></td>
                <td class="text-center"><h4>{{ readable_size(bytes_last) }} / {{ files_last|format_number }} </h4></td>
            </tr>
        </table>
    </div>
</div>