<!doctype html>
<html lang="en">

<head>
    {{ include("partials/html-head.html.twig") }}
    <title>{{ app_name }} - {%  block title %}{% endblock %}</title>
</head>

<body>

{{ include("partials/navbar.html.twig") }}

<div class="container-fluid">
    {{ include('partials/flash.html.twig') }}
</div>

{% block body %}{% endblock %}

</body>
</html>
{{ include("partials/html-footer.html.twig") }}

